.card-button {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  height: 16px;
  width: 16px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  border: #ffffff;
}

.card-button:active {
  transform: scale(0.9);
}
.card-button:hover {
  opacity: 0.8;
}

.card-button_type_save {
  background-image: url(../../../images/saved-icon.svg);
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: 100% 100%;
}

.card-button_type_done {
  background-color: var(--movie-button-done);
  background-image: url(../../../images/save-icon.svg);
  background-position: center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
}
/* saved-icon.svg */

.card-button_type_delete {
  background-image: url(../../../images/icon__delete.svg);
  background-position: center;
  background-size: 100% 100%;
  width: 16px;
  height: 16px;
}
/* del-icon.svg */
